<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="_template.xhtml">
	<ui:define name="titulo">
				Usuarios
	</ui:define>

	<ui:define name="conteudo">
		<h:form>
			<h:dataTable id="dtPessoa" value="#{pessoaBean.pessoas}" var="pessoa">
				<h:column id="cNome">
					<f:facet name="header">Nome</f:facet>
					<h:outputText value="#{pessoa.nome}"></h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">CPF</f:facet>
					<h:outputText value="#{pessoa.cpf}">
						<f:convertNumber pattern="#00000000000" />
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">Nascimento</f:facet>
					<h:outputText value="#{pessoa.nascimento.time}">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Sao_Paulo" />
					</h:outputText>
				</h:column>
				<h:column>
					<h:commandLink value="edit" action="#{pessoaBean.editar(pessoa)}"
						immediate="true" />
				</h:column>
				<h:column>
					<h:commandButton value="delete"
						action="#{pessoaBean.delete(pessoa)}">
					</h:commandButton>
				</h:column>
			</h:dataTable>
			<h:commandLink value="Novo Usuario"
				action="#{pessoaBean.direcionarFormSalvar}" immediate="true" />
			<br />
		</h:form>
		
	</ui:define>
	
</ui:composition>

</html>