<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="_template.xhtml">
	<ui:define name="titulo">
				Inserir/Alterar usuario
	</ui:define>

	<ui:define name="conteudo">
		<h:form>
			<h:messages />
			<fieldset>
				<legend>Informações Gerais</legend>
				<h:panelGrid columns="2">

					<h:outputLabel value="Nome" for="nome" />
					<h:inputText id="nome" value="#{pessoaBean.pessoa.nome}"
						required="true" requiredMessage="Nome é um campo obrigatório"
						validatorMessage="Campo Nome nao pode ser superior 45 caracteres">
						<f:validateLength maximum="45" />
					</h:inputText>

					<h:outputLabel value="CPF" for="cpf" />
					<h:inputText id="cpf" value="#{pessoaBean.pessoa.cpf}"
						required="true" requiredMessage="CPF é um campo obrigatório"
						validatorMessage="Campo CPF nao pode ser superior 11 caracteres">
						<f:validateLength maximum="11" />
					</h:inputText>

					<h:outputLabel value="Nascimento" for="nascimento" />
					<h:inputText id="nascimento"
						value="#{pessoaBean.pessoa.nascimento.time}" required="true"
						requiredMessage="Nascimento é um campo obrigatório">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Sao_Paulo" />
					</h:inputText>

				</h:panelGrid>
			</fieldset>
			<fieldset>
				<legend>Endereço</legend>
				<h:panelGrid columns="2">

					<h:outputLabel value="Rua" for="rua" />
					<h:inputText id="rua" value="#{pessoaBean.endereco.rua}"
						required="true" requiredMessage="Rua é um campo obrigatório">
						<f:validateLength maximum="254" />
					</h:inputText>

					<h:outputLabel value="Bairro" for="bairro" />
					<h:inputText id="bairro" value="#{pessoaBean.endereco.bairro}"
						required="true" requiredMessage="Bairro é um campo obrigatório"
						validatorMessage="Campo Bairro nao pode ser superior 45 caracteres">
						<f:validateLength maximum="45" />
					</h:inputText>

					<h:outputLabel value="Telefone" for="telefone" />
					<h:inputText id="telefone" value="#{pessoaBean.endereco.telefone}"
						required="false"
						validatorMessage="Campo Telefone nao pode ser superior 20 caracteres">
						<f:validateLength maximum="20" />
					</h:inputText>

				</h:panelGrid>
			</fieldset>
			<fieldset>
				<legend>Dados de acesso</legend>
				<h:panelGrid columns="2">

					<h:outputLabel value="Login" for="login" />
					<h:inputText id="login" value="#{pessoaBean.usuario.login}"
						required="true" requiredMessage="Login é um campo obrigatório">
						<f:validateLength maximum="254" />
					</h:inputText>

					<h:outputLabel value="Senha" for="senha" />
					<h:inputSecret id="senha" value="#{pessoaBean.usuario.senha}"
						required="true" requiredMessage="Senha é um campo obrigatório"
						maxlength="254" />

				</h:panelGrid>
			</fieldset>
			<h:commandButton value="Salvar" action="#{pessoaBean.salvar}" />
			<h:commandButton value="Cancelar" action="#{pessoaBean.cancelar}"
				immediate="true" />
		</h:form>
	</ui:define>

</ui:composition>
</html>